<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.vicp.biggee.android.osmtracker"
    android:installLocation="auto"
    android:versionCode="56"
    android:versionName="1.0.0b">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--Biggee add-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity android:name="net.vicp.biggee.android.bOSMTracker.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Biggee add-->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="net.osmtracker.activity.Intro"
            android:label="@string/app_intro"
            android:theme="@style/AppIntroStyle" />
        <activity
            android:name="net.osmtracker.activity.TrackManager"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.osmtracker.activity.TrackLogger"
            android:label="@string/tracklogger"
            android:launchMode="singleTop" />
        <activity
            android:name="net.osmtracker.activity.Preferences"
            android:label="@string/prefs" />
        <activity
            android:name="net.osmtracker.activity.WaypointList"
            android:label="@string/wplist" />
        <activity
            android:name="net.osmtracker.activity.TrackDetail"
            android:label="@string/trackdetail" />
        <activity
            android:name="net.osmtracker.activity.OpenStreetMapUpload"
            android:label="@string/osm_upload">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="osm-upload"
                    android:scheme="osmtracker" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.osmtracker.activity.About"
            android:label="@string/about" />
        <activity
            android:name="net.osmtracker.activity.DisplayTrack"
            android:label="@string/displaytrack" />
        <activity
            android:name="net.osmtracker.activity.DisplayTrackMap"
            android:label="@string/displaytrackmap" />
        <activity android:name="net.osmtracker.activity.ButtonsPresets">
            <intent-filter>
                <action android:name="launch_buttons_presets" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="net.osmtracker.activity.AvailableLayouts" />

        <service
            android:name="net.osmtracker.service.gps.GPSLogger"
            android:exported="false"
            android:foregroundServiceType="location">
            <intent-filter>
                <action android:name="osmtracker.intent.GPS_SERVICE" />
            </intent-filter>
        </service>

        <provider
            android:name="net.osmtracker.db.TrackContentProvider"
            android:authorities="net.osmtracker.provider"
            android:exported="false" />

        <receiver android:name="net.osmtracker.receiver.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.osmtracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>